<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Login - sistema</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,300&display=swap" rel="stylesheet">
        <link href="css/styles.css" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    </head>
    <body class="bg-primary">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-5">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header text-center">
                                        <!-- <h3 class="text-center font-weight-light my-4 card-title">Login</h3> -->

                                        <img id="img" src="img/logo.jpg" alt="" class="img-fluid">
                                    </div>
                                    
                                    <div class="card-body">
                                        <form action="/loguearse" method="POST" id="loguearse" >
                                            <div class="form-floating mb-3">
                                                <input autofocus class="form-control"  type="text" placeholder="user" id="user" name="user" />
                                                <label for="inputEmail">usuario</label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <input class="form-control" type="password" placeholder="Contraseña" id="pass" name="pass" />
                                                <label for="inputPassword">Contraseña</label>
                                            </div>
                                            
                                            <div class="pt-2 d-flex gap-3 justify-content-end mb-3">
                                                <button type="submit" href="#" class="btn btn-primary">Acceder</button>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <div id="layoutAuthentication_footer">
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2022</div>
                            <div>
                                <a href="#">Politicas de Privacidad</a>
                                &middot;
                                <a href="#">Terminos y &amp; Condiciones</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div
        </div>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
        <script src="js/alerts.js"></script>
        <script src="js/login.js"></script>

        <% if (alerta) { %>
            <script>
                Swal.fire({
                    title: '<%= titulo %>',
                    text: '<%= texto %>',
                    icon: '<%= icono %>',
                    showConfirmButton: '<%= boton %>',
                    timer: false,
                }).then((results)=>{
                    if(results.isConfirmed){
                        window.location = '<%= ruta %>'
                    }
                })



            </script>
        <% } %>
    </body>
</html>
